@font-face {
    font-family: "Noto-Sans-JP-Regular";
    src: url("./public/font/static/NotoSansJP-Regular.ttf") format("woff"), url("./public/font/static/NotoSansJP-Regular.ttf") format("opentype"), url("./public/font/static/NotoSansJP-Regular.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: bold;
}

body,
html {
    font-family: "Noto-Sans-JP-Regular", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 41, 47, 0);
    position: relative;
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    /* position: absolute; */
    flex-direction: column;
    min-height: 100vh;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
}

button {
    transition: all .3s !important;
}


/* table */

#show-table {
    overflow-x: auto;
    width: 100%;
}

#show-table::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.7rem;
}

#show-table::-webkit-scrollbar-track {
    background: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#show-table::-webkit-scrollbar-thumb {
    background: #1AB53C;
    border: 0.5px solid #FAFAFB;
}

#table th,
#table td {
    border: 2px solid #E4E4E4;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#table th {
    background-color: #EFEFEF
}

#table .highlight {
    background-color: yellow;
}

#table .note {
    background-color: #d9e8f7;
    text-align: left;
    padding-left: 10px;
}

#table .diagonal {
    position: relative;
    height: 20px;
}

#table .diagonal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: black;
    transform: rotate(45deg);
}

td.title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    font-weight: bold;
}

.extinguisher-a {
    max-width: 3.8rem;
}

.judgement {
    max-width: 2rem;
}

.disabled-text {
    background-color: #EEEEEE !important;
}

#table tr td>input {
    min-width: 10rem;
}

#table tr td select {
    min-width: 5rem;
}


/* table tr td:nth-last-child(2) { */


/* padding: 0; */


/* } */

.note-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

input#number-of-floors {
    width: 8rem;
    font-size: 100%;
    height: 3rem;
}


/* .input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.input-box>div {
    width: 100%;
    border: 1px solid #E4E4E4;
}

label.lb-av {
    background-color: #EFEFEF;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding: 0.3rem 0 0.3rem 0.7rem;
}

label[for="number-of-floors"] {
    font-size: 90%;
    color: #bd1a1a94;
}

.prevention-object>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.prevention-object>div>div {
    width: 100%;
}

.prevention-object>div>div:first-child {
    margin-right: 0.5rem;
}

.prevention-object>div>div:last-child {
    padding-left: 0.5rem;
    width: 50%;
}

.downstairs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-select,
.btn-submit {
    background-color: #1AB53C !important;
    color: #FFFFFF !important;
    margin-right: 0.2rem;
    border-radius: 5px !important;
}

.btn-clear {
    background-color: #D9D9D9 !important;
    color: #666666 !important;
    border-radius: 5px !important;
}

.awesomplete {
    width: 80%;
}

.form-control {
    margin: 4px;
}

input:read-only {
    pointer-events: none;
}

.inspection {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.input-box.mt-1.me-1.inspection-type {
    width: 66%;
}

.dataToDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 34%;
}

section.reviewer {
    padding: 1rem;
    border: 2px dashed #E4E4E4;
    margin-top: 2rem;
    position: relative;
}

section.reviewer>div>span {
    position: absolute;
    top: -16px;
    left: 0;
    background: white;
    font-size: 130%;
    font-weight: bold;
    padding: 0 0.5rem;
}

.reviewer .awesomplete {
    width: 87%;
}

.sub-reviewer>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-reviewer>div>div {
    width: 40%;
}

.top-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.icon {
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 5px;
    margin: 0.9rem 0.8rem;
    border: 2px solid #dee2e6 !important;
    background: none;
}

button:hover {
    scale: 1.05;
    transform: scale(1.05);
    /* transition: ease 0.3s; */
}

#info-user strong {
    color: #0a58ca;
}

div.btn-save {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

table#tb_6015>thead>tr>th,
table#tb_6004>thead>tr>th {
    text-align: center;
    padding: 6px 0;
    border: 1px solid #00000057;
}

table#tb_6015>thead,
table#tb_6004>thead {
    background-color: #e4e4e4;
}

table#tb_6015 th,
table#tb_6004 th {
    border: 1px solid #00000057;
}

table#tb_6015>tbody tr th:last-child,
table#tb_6004>tbody tr th:last-child {
    text-align: center;
}

table#tb_6015>tbody tr th button,
table#tb_6004>tbody tr th button {
    margin: 0.4rem 0;
}

table#tb_6015>tbody tr th p,
table#tb_6004>tbody tr th p {
    padding: 0;
    margin: 0 0 0 0.3rem;
}

.awesomplete {
    width: 80%;
}

.message-error {
    color: red;
    line-height: 1.5;
}

button#btn-update-or-add {
    min-width: 4rem;
    padding: 1rem 2rem;
}

section#load-main {
    position: absolute;
    background: #ced4da78;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #1AB53C !important;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

.display-none {
    display: none !important;
}

.input-box.name-of-fire {
    position: relative;
}

.coating {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ced4daab;
    z-index: 2;
}

.input-box.full-name {
    position: relative;
}

.toast-body {
    color: #0d71df;
}

div#toast.success {
    background: #d4edda;
    color: #c3e6cb;
}

div#toast.error {
    background: #edd4d9;
    color: #fff;
}

div#toast.warning {
    background: #ffd042;
    color: #6c757d;
}

.toast-header {
    justify-content: space-between;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media (max-width: 1400px) {
    .dataToDate {
        width: 34%;
    }
    .awesomplete {
        width: 80%;
    }
    .reviewer .awesomplete {
        width: 85%;
    }
}

@media (max-width: 1350px) {
    .awesomplete {
        width: 75%;
    }
}

@media (max-width: 1300px) {
    .awesomplete {
        width: 78%;
    }
}

@media (max-width: 1170px) {
    .awesomplete {
        width: 74%;
    }
    .input-box.mt-1.me-1.inspection-type {
        width: 60%;
    }
    .reviewer .awesomplete {
        width: 83%;
    }
}

@media (max-width: 1000px) {
    .awesomplete {
        width: 65%;
    }
}

@media (max-width: 980px) {
    .input-box.mt-1.me-1.inspection-type {
        width: 46%;
    }
    .reviewer .awesomplete {
        width: 75%;
    }
}

@media (max-width: 770px) {
    .awesomplete {
        width: 50%;
    }
    .reviewer .awesomplete {
        width: 84%;
    }
}

@media (max-width: 750px) {
    .awesomplete {
        width: 52%;
    }
    .input-box.start-date {
        width: 80%;
    }
    .input-box.date-arrival {
        width: 80%;
    }
    input#start-date {
        width: 95%;
    }
    input#date-arrival {
        width: 95%;
    }
    .input-box.mt-1.me-1.inspection-type {
        width: 40%;
    }
}

@media (max-width: 730px) {
    .reviewer .awesomplete {
        width: 68%;
    }
    .awesomplete {
        width: 55%;
    }
}

@media (max-width: 520px) {
    body,
    html {
        font-size: 12px;
    }
    .awesomplete {
        width: 63%;
    }
    .reviewer .awesomplete {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .awesomplete {
        width: 68%;
    }
    button.btn-select {
        padding: 6px 5px;
    }
    button.btn.btn-clear {
        padding: 6px 2px;
    }
    .inspection {
        display: flex;
        flex-direction: column;
        align-items: normal;
    }
    .input-box.inspection-type {
        width: 100% !important;
    }
    .dataToDate {
        width: 100%;
    }
    .reviewer .awesomplete {
        width: 78%;
    }
}

@media (max-width: 460px) {
    .awesomplete {
        width: 67%;
    }
    .reviewer .awesomplete {
        width: 76%;
    }
}

@media (max-width: 420px) {
    .awesomplete {
        width: 63%;
    }
    .reviewer .awesomplete {
        width: 74%;
    }
}

@media (max-width: 410px) {
    .awesomplete {
        width: 53%;
    }
    .reviewer .awesomplete {
        width: 66%;
    }
}

@media (max-width: 409px) {
    .reviewer .awesomplete {
        width: 70%;
    }
    .awesomplete {
        width: 61%;
    }
}

@media (max-width: 390px) {
    /* .dataToDate {
        width: 80%;
    } */
    .reviewer .awesomplete {
        width: 73%;
    }
    .awesomplete {
        width: 59%;
    }
    .unShow-500 {
        display: none;
    }
}

@media (max-width: 360px) {
    .reviewer .awesomplete {
        width: 68%;
    }
    .awesomplete {
        width: 56%;
    }
}

@media (max-width: 344px) {
    /* .dataToDate {
        width: 80%;
    } */
    .unShow-500 {
        display: none;
    }
    .prevention-object>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }
    .prevention-object>div>div:last-child {
        padding-left: unset;
        width: 100%;
    }
    .prevention-object>div>div:first-child {
        margin-right: unset;
    }
    .dataToDate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .input-box.start-date {
        width: 100%;
    }
    .input-box.date-arrival {
        width: 100%;
    }
    .reviewer .awesomplete {
        width: 68%;
    }
    .awesomplete {
        width: 70%;
    }
}