@font-face {
    font-family: "Noto-Sans-JP-Regular";
    src: url("./public/font/static/NotoSansJP-Regular.ttf") format("woff"), url("./public/font/static/NotoSansJP-Regular.ttf") format("opentype"), url("./public/font/static/NotoSansJP-Regular.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: bold;
}

body,
html {
    font-family: "Noto-Sans-JP-Regular", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 41, 47, 0);
    position: relative;
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    /* position: absolute; */
    flex-direction: column;
    min-height: 100vh;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
}

button,
a {
    transition: all .3s !important;
}

input:read-only {
    pointer-events: none;
}


/* btn */

form {
    margin-bottom: 3rem;
}

.btn-select,
.btn-submit {
    background-color: #1AB53C !important;
    color: #FFFFFF !important;
    margin-right: 0.2rem;
    border-radius: 5px !important;
}

.btn-clear {
    background-color: #D9D9D9 !important;
    color: #666666 !important;
    border-radius: 5px !important;
}


/* end btn */


/* loading */

section#load-main {
    position: absolute;
    background: #ced4da78;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #1AB53C !important;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

.display-none {
    display: none !important;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/* end loading */


/* toast */

.toast-body {
    color: #0d71df;
}

div#toast.success {
    background: #d4edda;
    color: #c3e6cb;
}

div#toast.error {
    background: #edd4d9;
    color: #fff;
}

div#toast.warning {
    background: #ffd042;
    color: #6c757d;
}

.toast-header {
    justify-content: space-between;
}


/* end toast */

button.icon {
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 5px;
    margin: 0.9rem 0.8rem;
    border: 2px solid #dee2e6 !important;
    background: none;
}

.top-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box.qr-code {
    position: relative;
}

.input-box>div.coating {
    width: 100%;
    border: 1px solid #E4E4E4;
}

.coating {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ced4daab;
    z-index: 2;
}

label.lb-av {
    background-color: #EFEFEF;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding: 0.3rem 0 0.3rem 0.7rem;
}

.downstairs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box>div {
    width: 100%;
    border: 1px solid #E4E4E4;
}

div.btn-save {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    scale: 1.05;
    transform: scale(1.05);
    /* transition: ease 0.3s; */
}

.downstairs {
    padding: 0.3rem;
}

.last-time .downstairs,
.total-mileage .downstairs,
.mileage .downstairs {
    position: relative;
}

.last-time .downstairs span,
.total-mileage .downstairs span,
.mileage .downstairs span {
    position: absolute;
    right: 11px;
    font-weight: bold;
}


/* .mileage .downstairs span,
.current-mileage .downstairs span {
    position: absolute;
    right: 11px;
    font-weight: bold;
} */

input#last-time,
input#total-mileage,
input#mileage {
    padding-right: 2.5rem;
    text-align: right;
}

#info-user strong {
    color: #0a58ca;
}

input#qr-code {
    width: 88%;
}

.message-error {
    color: red;
    line-height: 1.5;
    font-weight: bold;
}

.input-error {
    border: 1px solid red;
}

input#current-mileage {
    text-align: right;
    padding-right: 2.5rem;
}

#login-woff {
    text-decoration: none !important;
}

.btn-custom {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-width: 450px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    color: #000;
    padding: 0px 30px;
    margin-top: 30px;
    position: relative;
}

.btn-custom:hover {
    border-color: var(--color-red) !important;
    background-color: var(--color-red) !important;
    color: #57b846 !important;
    transform: scale(1.05);
}


/* file */


/* .file-info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
} */

.file-info {
    width: 100%;
}

.file-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.file-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.file-name {
    display: inline-block;
    max-width: 140px;
    min-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1rem;
}

.un-active {
    background-color: #e9ecef !important;
    cursor: none;
    user-select: none;
}


/* .left-file {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */

.file-image {
    width: 9rem;
    height: auto;
    object-fit: contain;
    max-height: 9rem;
}

button.delete-file {
    font-size: 24px;
    background: no-repeat;
    border: none;
}

.file label.lb-av {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downstairs.file-container {
    min-height: 5rem;
}


/* end file */

.pre-operation {
    background-color: #0d6efdbf !important;
    color: white;
}


/* responsive   */

@media (max-width: 1370px) {
    input#qr-code {
        width: 86%;
    }
}

@media (max-width: 1150px) {
    input#qr-code {
        width: 83%;
    }
}

@media (max-width: 990px) {
    input#qr-code {
        width: 78%;
    }
}

@media (max-width: 930px) {
    input#qr-code {
        width: 78%;
    }
}

@media (max-width: 760px) {
    input#qr-code {
        width: 70%;
    }
}

@media (max-width: 520px) {
    body,
    html {
        font-size: 12px;
    }
    /* span.file-name {
        max-width: 125px;
        min-width: 125px;
    } */
}

@media (max-width: 420px) {
    /* span.file-name {
        max-width: 90px;
        min-width: 90px;
    } */
}

@media (max-width: 363px) {
    input#qr-code {
        width: 67%;
    }
}

@media (max-width: 340px) {
    span.file-name {
        max-width: 110px;
        min-width: 110px;
    }
    .row>* {
        padding-right: 0px;
    }
    span.file-name {
        max-width: 100px;
        min-width: 100px;
    }
}

@media (max-width: 326px) {
    input#qr-code {
        width: 65%;
    }
}

@media (max-width: 310px) {
    input#qr-code {
        width: 61%;
    }
}

@media (max-width: 284px) {
    input#qr-code {
        width: 58%;
    }
}

@media (max-width: 275px) {
    span.file-name {
        max-width: 91px;
        min-width: 91px;
    }
}