@font-face {
    font-family: "Noto-Sans-JP-Regular";
    src: url("./public/font/static/NotoSansJP-Regular.ttf") format("woff"), url("./public/font/static/NotoSansJP-Regular.ttf") format("opentype"), url("./public/font/static/NotoSansJP-Regular.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

body,
html {
    font-family: "Noto-Sans-JP-Regular", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 41, 47, 0);
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: absolute;
    flex-direction: column;
    min-height: 100vh;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
}

button.icon {
    width: 2.0rem;
    height: 1.0rem;
    border: none !important;
    background: none;
}

button.edit {
    color: blue;
    margin-bottom: 2rem;
}

button:hover {
    scale: 1.3;
    /* transition: ease 0.3s; */
}

button {
    transition: all .3s !important;
}

.nav {
    float: right !important;
    margin-top: 3rem;
}

@media (max-width: 500px) {
    body,
    html {
        font-size: 12px !important;
    }
}

#frm-create {
    position: relative !important;
}

#loading-web {
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: #66666699;
    z-index: 1;
}

div#loading-web {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#title-app {
    font-weight: bold;
    font-size: 120%;
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box>div {
    width: 100%;
    border: 1px solid #E4E4E4;
}

.downstairs>input {
    width: 97%;
    margin: 0.2rem 0 0.2rem 0.2rem;
    height: 3rem;
}

.downstairs>input#box-start-time {
    width: 98%;
}

#form-home,
.form-group {
    border: 2px solid #E4E4E4;
    padding: 1rem 1rem;
}

label.lb-av {
    background-color: #EFEFEF;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding: 0.3rem 0 0.3rem 0.7rem;
}

button#get-qr,
.btn-submit {
    background-color: #1AB53C !important;
    margin-right: 0.2rem;
    border-radius: 5px !important;
    padding: 5px 8px!important;
}

.btn-clear {
    background-color: #D9D9D9 !important;
    color: #666666 !important;
    border-radius: 5px !important;
}

.btn-borrow {
    background-color: #4285f4!important;
    color: #FFFFFF !important;
    border-radius: 5px !important;
}

.btns {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    align-items: center;
}

button:hover {
    scale: 1.05;
    transform: scale(1.05);
    /* transition: ease 0.3s; */
}

div#location,
div#start-time,
div#end-time {
    border: 1px solid #D9D9D9;
    padding: 0.5rem;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.downstairs.qr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input#forklift-number {
    width: 87%;
    height: 3rem;
}

button#get-qr {
    width: 4rem;
    height: 3rem;
}

div.box-location {
    display: flex;
}

button.btn-location {
    width: 90%;
    background: #1AB53C;
    color: white;
    height: 3rem;
}

button#btn-create {
    color: white;
}

button.btn-location:hover {
    color: white;
}

div.box-location {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.form-control:focus:read-only {
    border: 1px solid #ced4da;
    box-shadow: none;
}


/* #message-error {
    width: 70%;
} */

#message-error>span.error,
.message-error {
    color: red;
}

#lineworks-id {
    color: #0a58ca;
}

button.check-permission {
    color: #fff;
    width: 3rem;
    height: 1.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn.bg-warning.check-permission {
    white-space: nowrap;
    min-width: 7rem;
}

svg.icon {
    width: 2rem;
    height: 2rem;
}

.display-none {
    display: none !important;
    ;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

#load-location {
    position: absolute;
    z-index: 2;
}

.disable-btn {
    pointer-events: none;
    opacity: 0.5;
}

.toast-body {
    color: #0d71df;
}

div#toast.success {
    background: #d4edda;
    color: #c3e6cb;
}

.toast-header {
    justify-content: space-between;
}

button#btn-create-start-time,
button#reset-start-time,
button#reset-end-time,
button.btn-borrow,
button#btn-create-end-time,
button.btn-returns {
    height: 3rem;
    min-width: 4rem;
}

button.btn-returns {
    background-color: #ff9900;
}

button.icon {
    width: 4rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 5px;
    margin: 0.9rem 0.8rem;
    border: 2px solid #dee2e6 !important;
}

.box-time {
    border: 1px solid #E4E4E4;
    padding: 0.3rem;
}

input.mt-2.form-control.time {
    width: 9rem;
    height: 3rem;
}

.day {
    height: 3rem;
}

input.day,
input.time {
    text-align: end;
    font-size: 120%;
}


/* home */

#menu .ls-btn-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9rem 0;
}

#menu .ls-btn-home button {
    height: 3rem;
    width: 10rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

#menu .ls-btn-home button:first-child {
    background-color: #4285f4;
    height: 5rem;
}

#menu .ls-btn-home button:last-child {
    background-color: #ff9900;
    height: 5rem;
}

#menu #form-home {
    min-height: 5rem;
    padding: 3rem;
}


/* end */

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@media (min-width: 330px) {
    /* #message-error {
        width: 60%;
    } */
    input#forklift-number {
        width: 82%;
    }
}

@media (min-width: 380px) {
    /* #message-error {
        width: 60%;
    } */
    input#forklift-number {
        width: 84%;
    }
}

@media (min-width: 400px) {
    input#forklift-number {
        width: 84%;
    }
}

@media (min-width: 460px) {
    input#forklift-number {
        width: 84%;
    }
}

@media (min-width: 500px) {
    input#forklift-number {
        width: 80%;
    }
}

@media (min-width: 600px) {
    /* #message-error {
        width: 60%;
    } */
    input#forklift-number {
        width: 82%;
    }
}

@media (min-width: 700px) {
    input#forklift-number {
        width: 82%;
    }
}

@media (min-width: 770px) {
    input#forklift-number {
        width: 87%;
    }
}

@media (min-width: 800px) {
    button#get-qr {
        width: 4rem;
    }
    /* #message-error {
        width: 70%;
    } */
}

@media (min-width: 1000px) {
    button#get-qr {
        width: 6rem;
    }
}

@media (min-width: 1100px) {
    input#forklift-number {
        width: 88%;
    }
    button#get-qr {
        width: 4rem;
        margin-right: 0.5rem;
    }
    button.btn-location {
        width: 70%;
        background: #1AB53C;
        color: white;
    }
    .input-box.forklift-number {
        padding: 0 2rem;
    }
    div#location {
        margin: 0 2rem;
    }
    form#form-home {
        margin: 0 3rem;
    }
}

@media (min-width: 1200px) {
    input#forklift-number {
        width: 90%;
    }
}


/* loadding */

section#load-main {
    position: absolute;
    background: #ced4da78;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #0000;
    border-right-color: #1AB53C;
    position: relative;
    animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: -8px;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
    animation-duration: 2s;
}

.loader:after {
    animation-duration: 4s;
}

@keyframes l24 {
    100% {
        transform: rotate(1turn)
    }
}


/* list */