@font-face {
    font-family: "Noto-Sans-JP-Regular";
    src: url("./public/font/static/NotoSansJP-Regular.ttf") format("woff"), url("./public/font/static/NotoSansJP-Regular.ttf") format("opentype"), url("./public/font/static/NotoSansJP-Regular.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: bold;
}

body,
html {
    font-family: "Noto-Sans-JP-Regular", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 41, 47, 0);
    position: relative;
    width: 100%;
    /* height: 100%; */
    font-size: 16px;
    /* position: absolute; */
    flex-direction: column;
    min-height: 100vh;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
}

button {
    transition: all .3s !important;
}


/* loading */

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #1AB53C !important;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

.display-none {
    display: none !important;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/* end loading */


/* toast */

.toast-body {
    color: #0d71df;
}

div#toast.success {
    background: #d4edda;
    color: #c3e6cb;
}

div#toast.error {
    background: #edd4d9;
    color: #fff;
}

div#toast.warning {
    background: #ffd042;
    color: #6c757d;
}

.toast-header {
    justify-content: space-between;
}


/* end toast */


/* responsive   */

@media (max-width: 520px) {
    body,
    html {
        font-size: 12px;
    }
}